.nav {
    /* 앞부분 점 제거 */
    list-style-type: none;
    /* 뒷배경 색넣기 */
    background-color: yellowgreen;
}

.nav li {
    /* 세로 모양을 가로로 변경, 글씨 안 넓이 조정 */
    display: inline-block;
    padding: 20px;
}