.grid-container {
    /* 내부틀 변경(메뉴 갯수, 너비) */
    display: grid;
    /* grid-template-columns: auto auto auto; 갯수만큼 컬럼 수만큼 자동 너비 조정*/
    /* grid-template-columns: 50px auto auto; 지정 넓이만큼 표시*/
    /* grid-template-columns: 20% 50% 30%; 갯수만큼 컬럼 수만큼 % 조정*/
    grid-template-columns: 20px 50px 60px;
    gap: 10px;
}

.grid-item-second-main {
    display: grid;
    grid-template-columns: auto auto auto;
}

.grid-container-justify {
    display: grid;
    grid-template-columns: 40px 50px 60px;
    gap: 10px;
    /* justify-content: center; 정렬 방법 start, center, end*/
    /* justify-content: space-around; 화면에 균등분할*/
    justify-content: space-between;
}